openapi: 3.0.3
info:
  title: Wahoo Cloud Permissions Plans API
  description: The Wahoo Cloud API connects Wahoo Fitness users to mobile and web applications. OAuth 2.0 (with PKCE option) authorizes access to user profiles, workouts, workout summaries, FIT-file uploads, structured workout plans, GPS routes, and cycling power zones. Webhooks deliver workout_summary notifications when offline_data scope is granted.
  version: v1
  contact:
    name: Wahoo Developer Support
    email: wahooapi@wahoofitness.com
    url: https://developers.wahooligan.com
  termsOfService: https://www.wahoofitness.com/wahoo-api-agreement
servers:
- url: https://api.wahooligan.com
  description: Production
security:
- OAuth2: []
tags:
- name: Plans
  description: Structured workout plans.
paths:
  /v1/plans:
    get:
      tags:
      - Plans
      summary: List Plans
      operationId: listPlans
      security:
      - OAuth2:
        - plans_read
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Paginated plan list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plan'
    post:
      tags:
      - Plans
      summary: Create Plan
      operationId: createPlan
      security:
      - OAuth2:
        - plans_write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanCreate'
      responses:
        '201':
          description: Plan created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
  /v1/plans/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Plans
      summary: Get Plan
      operationId: getPlan
      security:
      - OAuth2:
        - plans_read
      responses:
        '200':
          description: Plan record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
    put:
      tags:
      - Plans
      summary: Update Plan
      operationId: updatePlan
      security:
      - OAuth2:
        - plans_write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanCreate'
      responses:
        '200':
          description: Updated plan record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
    delete:
      tags:
      - Plans
      summary: Delete Plan
      operationId: deletePlan
      security:
      - OAuth2:
        - plans_write
      responses:
        '204':
          description: Plan deleted.
  /v1/workouts/{workout_id}/plans:
    get:
      tags:
      - Plans
      summary: List Plans For Workout
      operationId: listPlansForWorkout
      security:
      - OAuth2:
        - plans_read
      parameters:
      - in: path
        name: workout_id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Plans associated with the workout.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plan'
components:
  parameters:
    PerPage:
      in: query
      name: per_page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 30
    Id:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
        default: 1
  schemas:
    Plan:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        external_id:
          type: string
        file:
          type: object
          properties:
            url:
              type: string
              format: uri
        provider_updated_at:
          type: string
          format: date-time
        workout_type_family_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PlanCreate:
      type: object
      required:
      - name
      - file
      properties:
        name:
          type: string
        description:
          type: string
        external_id:
          type: string
        provider_updated_at:
          type: string
          format: date-time
        workout_type_family_id:
          type: integer
        file:
          type: string
          format: binary
          description: JSON plan file.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code (with PKCE option for public apps). Access tokens are bearer tokens with a 2-hour TTL; refresh tokens are single-use. Starting 2026-01-01, apps are limited to 10 unrevoked access tokens per user.
      flows:
        authorizationCode:
          authorizationUrl: https://api.wahooligan.com/oauth/authorize
          tokenUrl: https://api.wahooligan.com/oauth/token
          refreshUrl: https://api.wahooligan.com/oauth/token
          scopes:
            email: Access the user's email address
            user_read: Read user profile
            user_write: Update user profile
            workouts_read: Read workouts and summaries
            workouts_write: Create/update/delete workouts and uploads
            offline_data: Receive webhook events while the app is closed
            plans_read: Read workout plans
            plans_write: Manage workout plans
            power_zones_read: Read cycling power zones
            power_zones_write: Manage cycling power zones
            routes_read: Read GPS routes
            routes_write: Manage GPS routes
externalDocs:
  description: Wahoo Cloud API Reference
  url: https://cloud-api.wahooligan.com/
