openapi: 3.0.3
info:
  title: Wahoo Cloud Permissions Workout File Uploads API
  description: The Wahoo Cloud API connects Wahoo Fitness users to mobile and web applications. OAuth 2.0 (with PKCE option) authorizes access to user profiles, workouts, workout summaries, FIT-file uploads, structured workout plans, GPS routes, and cycling power zones. Webhooks deliver workout_summary notifications when offline_data scope is granted.
  version: v1
  contact:
    name: Wahoo Developer Support
    email: wahooapi@wahoofitness.com
    url: https://developers.wahooligan.com
  termsOfService: https://www.wahoofitness.com/wahoo-api-agreement
servers:
- url: https://api.wahooligan.com
  description: Production
security:
- OAuth2: []
tags:
- name: Workout File Uploads
  description: Asynchronous FIT-file ingestion.
paths:
  /v1/workout_file_uploads:
    post:
      tags:
      - Workout File Uploads
      summary: Upload Workout FIT File
      operationId: createWorkoutFileUpload
      security:
      - OAuth2:
        - workouts_write
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: FIT file to ingest.
              required:
              - file
      responses:
        '202':
          description: Upload accepted; returns a token for polling.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutFileUpload'
  /v1/workout_file_uploads/{token}:
    get:
      tags:
      - Workout File Uploads
      summary: Get Workout File Upload Status
      operationId: getWorkoutFileUpload
      security:
      - OAuth2:
        - workouts_write
      parameters:
      - in: path
        name: token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Upload status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutFileUpload'
components:
  schemas:
    WorkoutFileUpload:
      type: object
      properties:
        token:
          type: string
        state:
          type: string
          enum:
          - queued
          - processing
          - completed
          - failed
        workout_id:
          type: integer
          format: int64
          nullable: true
        error:
          type: string
          nullable: true
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code (with PKCE option for public apps). Access tokens are bearer tokens with a 2-hour TTL; refresh tokens are single-use. Starting 2026-01-01, apps are limited to 10 unrevoked access tokens per user.
      flows:
        authorizationCode:
          authorizationUrl: https://api.wahooligan.com/oauth/authorize
          tokenUrl: https://api.wahooligan.com/oauth/token
          refreshUrl: https://api.wahooligan.com/oauth/token
          scopes:
            email: Access the user's email address
            user_read: Read user profile
            user_write: Update user profile
            workouts_read: Read workouts and summaries
            workouts_write: Create/update/delete workouts and uploads
            offline_data: Receive webhook events while the app is closed
            plans_read: Read workout plans
            plans_write: Manage workout plans
            power_zones_read: Read cycling power zones
            power_zones_write: Manage cycling power zones
            routes_read: Read GPS routes
            routes_write: Manage GPS routes
externalDocs:
  description: Wahoo Cloud API Reference
  url: https://cloud-api.wahooligan.com/
